// Base Class Definition
// -------------------------

%fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@if $fa-show-classes == true {
  .#{$fa-css-prefix} {
    @extend %fa;
  }
}
