// Base Class Definition
// -------------------------

// Include this mixin to turn any element or pseudo-element into an icon.
@mixin font-awesome-icon() {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$fa-css-prefix} {
  @include font-awesome-icon();
}
