// Icon Sizes
// -------------------------

// makes the font 33% larger relative to the icon container
%fa-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
%fa-2x { font-size: 2em; }
%fa-3x { font-size: 3em; }
%fa-4x { font-size: 4em; }
%fa-5x { font-size: 5em; }


@if $fa-show-classes == true {
  .#{$fa-css-prefix}-lg {
  @extend %fa-lg;
  }
  .#{$fa-css-prefix}-2x { @extend %fa-2x; }
  .#{$fa-css-prefix}-3x { @extend %fa-3x; }
  .#{$fa-css-prefix}-4x { @extend %fa-4x; }
  .#{$fa-css-prefix}-5x { @extend %fa-5x; }
}
