// Stacked Icons
// -------------------------

%fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
%fa-stacks {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
%fa-stack-1x { line-height: inherit; }
%fa-stack-2x { font-size: 2em; }
%fa-inverse { color: $fa-inverse; }


@if $fa-show-classes == true {
  .#{$fa-css-prefix}-stack {
    @extend %fa-stack;
  }
  .#{$fa-css-prefix}-stack-1x, .#{$fa-css-prefix}-stack-2x {
    
  }
  .#{$fa-css-prefix}-stack-1x { @extend %fa-stack-1x; @extend %fa-stacks; }
  .#{$fa-css-prefix}-stack-2x { @extend %fa-stack-2x; @extend %fa-stacks; }
  .#{$fa-css-prefix}-inverse { @extend %fa-inverse; }

}
