// Variables Patch (for Sass 3.4.0+)
// ------------------------------------

$fa-var-adjust: unqoute('"\\f042"');
$fa-var-adn: unqoute('"\\f170"');
$fa-var-align-center: unqoute('"\\f037"');
$fa-var-align-justify: unqoute('"\\f039"');
$fa-var-align-left: unqoute('"\\f036"');
$fa-var-align-right: unqoute('"\\f038"');
$fa-var-ambulance: unqoute('"\\f0f9"');
$fa-var-anchor: unqoute('"\\f13d"');
$fa-var-android: unqoute('"\\f17b"');
$fa-var-angellist: unqoute('"\\f209"');
$fa-var-angle-double-down: unqoute('"\\f103"');
$fa-var-angle-double-left: unqoute('"\\f100"');
$fa-var-angle-double-right: unqoute('"\\f101"');
$fa-var-angle-double-up: unqoute('"\\f102"');
$fa-var-angle-down: unqoute('"\\f107"');
$fa-var-angle-left: unqoute('"\\f104"');
$fa-var-angle-right: unqoute('"\\f105"');
$fa-var-angle-up: unqoute('"\\f106"');
$fa-var-apple: unqoute('"\\f179"');
$fa-var-archive: unqoute('"\\f187"');
$fa-var-area-chart: unqoute('"\\f1fe"');
$fa-var-arrow-circle-down: unqoute('"\\f0ab"');
$fa-var-arrow-circle-left: unqoute('"\\f0a8"');
$fa-var-arrow-circle-o-down: unqoute('"\\f01a"');
$fa-var-arrow-circle-o-left: unqoute('"\\f190"');
$fa-var-arrow-circle-o-right: unqoute('"\\f18e"');
$fa-var-arrow-circle-o-up: unqoute('"\\f01b"');
$fa-var-arrow-circle-right: unqoute('"\\f0a9"');
$fa-var-arrow-circle-up: unqoute('"\\f0aa"');
$fa-var-arrow-down: unqoute('"\\f063"');
$fa-var-arrow-left: unqoute('"\\f060"');
$fa-var-arrow-right: unqoute('"\\f061"');
$fa-var-arrow-up: unqoute('"\\f062"');
$fa-var-arrows: unqoute('"\\f047"');
$fa-var-arrows-alt: unqoute('"\\f0b2"');
$fa-var-arrows-h: unqoute('"\\f07e"');
$fa-var-arrows-v: unqoute('"\\f07d"');
$fa-var-asterisk: unqoute('"\\f069"');
$fa-var-at: unqoute('"\\f1fa"');
$fa-var-automobile: unqoute('"\\f1b9"');
$fa-var-backward: unqoute('"\\f04a"');
$fa-var-ban: unqoute('"\\f05e"');
$fa-var-bank: unqoute('"\\f19c"');
$fa-var-bar-chart: unqoute('"\\f080"');
$fa-var-bar-chart-o: unqoute('"\\f080"');
$fa-var-barcode: unqoute('"\\f02a"');
$fa-var-bars: unqoute('"\\f0c9"');
$fa-var-bed: unqoute('"\\f236"');
$fa-var-beer: unqoute('"\\f0fc"');
$fa-var-behance: unqoute('"\\f1b4"');
$fa-var-behance-square: unqoute('"\\f1b5"');
$fa-var-bell: unqoute('"\\f0f3"');
$fa-var-bell-o: unqoute('"\\f0a2"');
$fa-var-bell-slash: unqoute('"\\f1f6"');
$fa-var-bell-slash-o: unqoute('"\\f1f7"');
$fa-var-bicycle: unqoute('"\\f206"');
$fa-var-binoculars: unqoute('"\\f1e5"');
$fa-var-birthday-cake: unqoute('"\\f1fd"');
$fa-var-bitbucket: unqoute('"\\f171"');
$fa-var-bitbucket-square: unqoute('"\\f172"');
$fa-var-bitcoin: unqoute('"\\f15a"');
$fa-var-bold: unqoute('"\\f032"');
$fa-var-bolt: unqoute('"\\f0e7"');
$fa-var-bomb: unqoute('"\\f1e2"');
$fa-var-book: unqoute('"\\f02d"');
$fa-var-bookmark: unqoute('"\\f02e"');
$fa-var-bookmark-o: unqoute('"\\f097"');
$fa-var-briefcase: unqoute('"\\f0b1"');
$fa-var-btc: unqoute('"\\f15a"');
$fa-var-bug: unqoute('"\\f188"');
$fa-var-building: unqoute('"\\f1ad"');
$fa-var-building-o: unqoute('"\\f0f7"');
$fa-var-bullhorn: unqoute('"\\f0a1"');
$fa-var-bullseye: unqoute('"\\f140"');
$fa-var-bus: unqoute('"\\f207"');
$fa-var-buysellads: unqoute('"\\f20d"');
$fa-var-cab: unqoute('"\\f1ba"');
$fa-var-calculator: unqoute('"\\f1ec"');
$fa-var-calendar: unqoute('"\\f073"');
$fa-var-calendar-o: unqoute('"\\f133"');
$fa-var-camera: unqoute('"\\f030"');
$fa-var-camera-retro: unqoute('"\\f083"');
$fa-var-car: unqoute('"\\f1b9"');
$fa-var-caret-down: unqoute('"\\f0d7"');
$fa-var-caret-left: unqoute('"\\f0d9"');
$fa-var-caret-right: unqoute('"\\f0da"');
$fa-var-caret-square-o-down: unqoute('"\\f150"');
$fa-var-caret-square-o-left: unqoute('"\\f191"');
$fa-var-caret-square-o-right: unqoute('"\\f152"');
$fa-var-caret-square-o-up: unqoute('"\\f151"');
$fa-var-caret-up: unqoute('"\\f0d8"');
$fa-var-cart-arrow-down: unqoute('"\\f218"');
$fa-var-cart-plus: unqoute('"\\f217"');
$fa-var-cc: unqoute('"\\f20a"');
$fa-var-cc-amex: unqoute('"\\f1f3"');
$fa-var-cc-discover: unqoute('"\\f1f2"');
$fa-var-cc-mastercard: unqoute('"\\f1f1"');
$fa-var-cc-paypal: unqoute('"\\f1f4"');
$fa-var-cc-stripe: unqoute('"\\f1f5"');
$fa-var-cc-visa: unqoute('"\\f1f0"');
$fa-var-certificate: unqoute('"\\f0a3"');
$fa-var-chain: unqoute('"\\f0c1"');
$fa-var-chain-broken: unqoute('"\\f127"');
$fa-var-check: unqoute('"\\f00c"');
$fa-var-check-circle: unqoute('"\\f058"');
$fa-var-check-circle-o: unqoute('"\\f05d"');
$fa-var-check-square: unqoute('"\\f14a"');
$fa-var-check-square-o: unqoute('"\\f046"');
$fa-var-chevron-circle-down: unqoute('"\\f13a"');
$fa-var-chevron-circle-left: unqoute('"\\f137"');
$fa-var-chevron-circle-right: unqoute('"\\f138"');
$fa-var-chevron-circle-up: unqoute('"\\f139"');
$fa-var-chevron-down: unqoute('"\\f078"');
$fa-var-chevron-left: unqoute('"\\f053"');
$fa-var-chevron-right: unqoute('"\\f054"');
$fa-var-chevron-up: unqoute('"\\f077"');
$fa-var-child: unqoute('"\\f1ae"');
$fa-var-circle: unqoute('"\\f111"');
$fa-var-circle-o: unqoute('"\\f10c"');
$fa-var-circle-o-notch: unqoute('"\\f1ce"');
$fa-var-circle-thin: unqoute('"\\f1db"');
$fa-var-clipboard: unqoute('"\\f0ea"');
$fa-var-clock-o: unqoute('"\\f017"');
$fa-var-close: unqoute('"\\f00d"');
$fa-var-cloud: unqoute('"\\f0c2"');
$fa-var-cloud-download: unqoute('"\\f0ed"');
$fa-var-cloud-upload: unqoute('"\\f0ee"');
$fa-var-cny: unqoute('"\\f157"');
$fa-var-code: unqoute('"\\f121"');
$fa-var-code-fork: unqoute('"\\f126"');
$fa-var-codepen: unqoute('"\\f1cb"');
$fa-var-coffee: unqoute('"\\f0f4"');
$fa-var-cog: unqoute('"\\f013"');
$fa-var-cogs: unqoute('"\\f085"');
$fa-var-columns: unqoute('"\\f0db"');
$fa-var-comment: unqoute('"\\f075"');
$fa-var-comment-o: unqoute('"\\f0e5"');
$fa-var-comments: unqoute('"\\f086"');
$fa-var-comments-o: unqoute('"\\f0e6"');
$fa-var-compass: unqoute('"\\f14e"');
$fa-var-compress: unqoute('"\\f066"');
$fa-var-connectdevelop: unqoute('"\\f20e"');
$fa-var-copy: unqoute('"\\f0c5"');
$fa-var-copyright: unqoute('"\\f1f9"');
$fa-var-credit-card: unqoute('"\\f09d"');
$fa-var-crop: unqoute('"\\f125"');
$fa-var-crosshairs: unqoute('"\\f05b"');
$fa-var-css3: unqoute('"\\f13c"');
$fa-var-cube: unqoute('"\\f1b2"');
$fa-var-cubes: unqoute('"\\f1b3"');
$fa-var-cut: unqoute('"\\f0c4"');
$fa-var-cutlery: unqoute('"\\f0f5"');
$fa-var-dashboard: unqoute('"\\f0e4"');
$fa-var-dashcube: unqoute('"\\f210"');
$fa-var-database: unqoute('"\\f1c0"');
$fa-var-dedent: unqoute('"\\f03b"');
$fa-var-delicious: unqoute('"\\f1a5"');
$fa-var-desktop: unqoute('"\\f108"');
$fa-var-deviantart: unqoute('"\\f1bd"');
$fa-var-diamond: unqoute('"\\f219"');
$fa-var-digg: unqoute('"\\f1a6"');
$fa-var-dollar: unqoute('"\\f155"');
$fa-var-dot-circle-o: unqoute('"\\f192"');
$fa-var-download: unqoute('"\\f019"');
$fa-var-dribbble: unqoute('"\\f17d"');
$fa-var-dropbox: unqoute('"\\f16b"');
$fa-var-drupal: unqoute('"\\f1a9"');
$fa-var-edit: unqoute('"\\f044"');
$fa-var-eject: unqoute('"\\f052"');
$fa-var-ellipsis-h: unqoute('"\\f141"');
$fa-var-ellipsis-v: unqoute('"\\f142"');
$fa-var-empire: unqoute('"\\f1d1"');
$fa-var-envelope: unqoute('"\\f0e0"');
$fa-var-envelope-o: unqoute('"\\f003"');
$fa-var-envelope-square: unqoute('"\\f199"');
$fa-var-eraser: unqoute('"\\f12d"');
$fa-var-eur: unqoute('"\\f153"');
$fa-var-euro: unqoute('"\\f153"');
$fa-var-exchange: unqoute('"\\f0ec"');
$fa-var-exclamation: unqoute('"\\f12a"');
$fa-var-exclamation-circle: unqoute('"\\f06a"');
$fa-var-exclamation-triangle: unqoute('"\\f071"');
$fa-var-expand: unqoute('"\\f065"');
$fa-var-external-link: unqoute('"\\f08e"');
$fa-var-external-link-square: unqoute('"\\f14c"');
$fa-var-eye: unqoute('"\\f06e"');
$fa-var-eye-slash: unqoute('"\\f070"');
$fa-var-eyedropper: unqoute('"\\f1fb"');
$fa-var-facebook: unqoute('"\\f09a"');
$fa-var-facebook-f: unqoute('"\\f09a"');
$fa-var-facebook-official: unqoute('"\\f230"');
$fa-var-facebook-square: unqoute('"\\f082"');
$fa-var-fast-backward: unqoute('"\\f049"');
$fa-var-fast-forward: unqoute('"\\f050"');
$fa-var-fax: unqoute('"\\f1ac"');
$fa-var-feed: unqoute('"\\f09e"');
$fa-var-female: unqoute('"\\f182"');
$fa-var-fighter-jet: unqoute('"\\f0fb"');
$fa-var-file: unqoute('"\\f15b"');
$fa-var-file-archive-o: unqoute('"\\f1c6"');
$fa-var-file-audio-o: unqoute('"\\f1c7"');
$fa-var-file-code-o: unqoute('"\\f1c9"');
$fa-var-file-excel-o: unqoute('"\\f1c3"');
$fa-var-file-image-o: unqoute('"\\f1c5"');
$fa-var-file-movie-o: unqoute('"\\f1c8"');
$fa-var-file-o: unqoute('"\\f016"');
$fa-var-file-pdf-o: unqoute('"\\f1c1"');
$fa-var-file-photo-o: unqoute('"\\f1c5"');
$fa-var-file-picture-o: unqoute('"\\f1c5"');
$fa-var-file-powerpoint-o: unqoute('"\\f1c4"');
$fa-var-file-sound-o: unqoute('"\\f1c7"');
$fa-var-file-text: unqoute('"\\f15c"');
$fa-var-file-text-o: unqoute('"\\f0f6"');
$fa-var-file-video-o: unqoute('"\\f1c8"');
$fa-var-file-word-o: unqoute('"\\f1c2"');
$fa-var-file-zip-o: unqoute('"\\f1c6"');
$fa-var-files-o: unqoute('"\\f0c5"');
$fa-var-film: unqoute('"\\f008"');
$fa-var-filter: unqoute('"\\f0b0"');
$fa-var-fire: unqoute('"\\f06d"');
$fa-var-fire-extinguisher: unqoute('"\\f134"');
$fa-var-flag: unqoute('"\\f024"');
$fa-var-flag-checkered: unqoute('"\\f11e"');
$fa-var-flag-o: unqoute('"\\f11d"');
$fa-var-flash: unqoute('"\\f0e7"');
$fa-var-flask: unqoute('"\\f0c3"');
$fa-var-flickr: unqoute('"\\f16e"');
$fa-var-floppy-o: unqoute('"\\f0c7"');
$fa-var-folder: unqoute('"\\f07b"');
$fa-var-folder-o: unqoute('"\\f114"');
$fa-var-folder-open: unqoute('"\\f07c"');
$fa-var-folder-open-o: unqoute('"\\f115"');
$fa-var-font: unqoute('"\\f031"');
$fa-var-forumbee: unqoute('"\\f211"');
$fa-var-forward: unqoute('"\\f04e"');
$fa-var-foursquare: unqoute('"\\f180"');
$fa-var-frown-o: unqoute('"\\f119"');
$fa-var-futbol-o: unqoute('"\\f1e3"');
$fa-var-gamepad: unqoute('"\\f11b"');
$fa-var-gavel: unqoute('"\\f0e3"');
$fa-var-gbp: unqoute('"\\f154"');
$fa-var-ge: unqoute('"\\f1d1"');
$fa-var-gear: unqoute('"\\f013"');
$fa-var-gears: unqoute('"\\f085"');
$fa-var-genderless: unqoute('"\\f1db"');
$fa-var-gift: unqoute('"\\f06b"');
$fa-var-git: unqoute('"\\f1d3"');
$fa-var-git-square: unqoute('"\\f1d2"');
$fa-var-github: unqoute('"\\f09b"');
$fa-var-github-alt: unqoute('"\\f113"');
$fa-var-github-square: unqoute('"\\f092"');
$fa-var-gittip: unqoute('"\\f184"');
$fa-var-glass: unqoute('"\\f000"');
$fa-var-globe: unqoute('"\\f0ac"');
$fa-var-google: unqoute('"\\f1a0"');
$fa-var-google-plus: unqoute('"\\f0d5"');
$fa-var-google-plus-square: unqoute('"\\f0d4"');
$fa-var-google-wallet: unqoute('"\\f1ee"');
$fa-var-graduation-cap: unqoute('"\\f19d"');
$fa-var-gratipay: unqoute('"\\f184"');
$fa-var-group: unqoute('"\\f0c0"');
$fa-var-h-square: unqoute('"\\f0fd"');
$fa-var-hacker-news: unqoute('"\\f1d4"');
$fa-var-hand-o-down: unqoute('"\\f0a7"');
$fa-var-hand-o-left: unqoute('"\\f0a5"');
$fa-var-hand-o-right: unqoute('"\\f0a4"');
$fa-var-hand-o-up: unqoute('"\\f0a6"');
$fa-var-hdd-o: unqoute('"\\f0a0"');
$fa-var-header: unqoute('"\\f1dc"');
$fa-var-headphones: unqoute('"\\f025"');
$fa-var-heart: unqoute('"\\f004"');
$fa-var-heart-o: unqoute('"\\f08a"');
$fa-var-heartbeat: unqoute('"\\f21e"');
$fa-var-history: unqoute('"\\f1da"');
$fa-var-home: unqoute('"\\f015"');
$fa-var-hospital-o: unqoute('"\\f0f8"');
$fa-var-hotel: unqoute('"\\f236"');
$fa-var-html5: unqoute('"\\f13b"');
$fa-var-ils: unqoute('"\\f20b"');
$fa-var-image: unqoute('"\\f03e"');
$fa-var-inbox: unqoute('"\\f01c"');
$fa-var-indent: unqoute('"\\f03c"');
$fa-var-info: unqoute('"\\f129"');
$fa-var-info-circle: unqoute('"\\f05a"');
$fa-var-inr: unqoute('"\\f156"');
$fa-var-instagram: unqoute('"\\f16d"');
$fa-var-institution: unqoute('"\\f19c"');
$fa-var-intersex: unqoute('"\\f224"');
$fa-var-ioxhost: unqoute('"\\f208"');
$fa-var-italic: unqoute('"\\f033"');
$fa-var-joomla: unqoute('"\\f1aa"');
$fa-var-jpy: unqoute('"\\f157"');
$fa-var-jsfiddle: unqoute('"\\f1cc"');
$fa-var-key: unqoute('"\\f084"');
$fa-var-keyboard-o: unqoute('"\\f11c"');
$fa-var-krw: unqoute('"\\f159"');
$fa-var-language: unqoute('"\\f1ab"');
$fa-var-laptop: unqoute('"\\f109"');
$fa-var-lastfm: unqoute('"\\f202"');
$fa-var-lastfm-square: unqoute('"\\f203"');
$fa-var-leaf: unqoute('"\\f06c"');
$fa-var-leanpub: unqoute('"\\f212"');
$fa-var-legal: unqoute('"\\f0e3"');
$fa-var-lemon-o: unqoute('"\\f094"');
$fa-var-level-down: unqoute('"\\f149"');
$fa-var-level-up: unqoute('"\\f148"');
$fa-var-life-bouy: unqoute('"\\f1cd"');
$fa-var-life-buoy: unqoute('"\\f1cd"');
$fa-var-life-ring: unqoute('"\\f1cd"');
$fa-var-life-saver: unqoute('"\\f1cd"');
$fa-var-lightbulb-o: unqoute('"\\f0eb"');
$fa-var-line-chart: unqoute('"\\f201"');
$fa-var-link: unqoute('"\\f0c1"');
$fa-var-linkedin: unqoute('"\\f0e1"');
$fa-var-linkedin-square: unqoute('"\\f08c"');
$fa-var-linux: unqoute('"\\f17c"');
$fa-var-list: unqoute('"\\f03a"');
$fa-var-list-alt: unqoute('"\\f022"');
$fa-var-list-ol: unqoute('"\\f0cb"');
$fa-var-list-ul: unqoute('"\\f0ca"');
$fa-var-location-arrow: unqoute('"\\f124"');
$fa-var-lock: unqoute('"\\f023"');
$fa-var-long-arrow-down: unqoute('"\\f175"');
$fa-var-long-arrow-left: unqoute('"\\f177"');
$fa-var-long-arrow-right: unqoute('"\\f178"');
$fa-var-long-arrow-up: unqoute('"\\f176"');
$fa-var-magic: unqoute('"\\f0d0"');
$fa-var-magnet: unqoute('"\\f076"');
$fa-var-mail-forward: unqoute('"\\f064"');
$fa-var-mail-reply: unqoute('"\\f112"');
$fa-var-mail-reply-all: unqoute('"\\f122"');
$fa-var-male: unqoute('"\\f183"');
$fa-var-map-marker: unqoute('"\\f041"');
$fa-var-mars: unqoute('"\\f222"');
$fa-var-mars-double: unqoute('"\\f227"');
$fa-var-mars-stroke: unqoute('"\\f229"');
$fa-var-mars-stroke-h: unqoute('"\\f22b"');
$fa-var-mars-stroke-v: unqoute('"\\f22a"');
$fa-var-maxcdn: unqoute('"\\f136"');
$fa-var-meanpath: unqoute('"\\f20c"');
$fa-var-medium: unqoute('"\\f23a"');
$fa-var-medkit: unqoute('"\\f0fa"');
$fa-var-meh-o: unqoute('"\\f11a"');
$fa-var-mercury: unqoute('"\\f223"');
$fa-var-microphone: unqoute('"\\f130"');
$fa-var-microphone-slash: unqoute('"\\f131"');
$fa-var-minus: unqoute('"\\f068"');
$fa-var-minus-circle: unqoute('"\\f056"');
$fa-var-minus-square: unqoute('"\\f146"');
$fa-var-minus-square-o: unqoute('"\\f147"');
$fa-var-mobile: unqoute('"\\f10b"');
$fa-var-mobile-phone: unqoute('"\\f10b"');
$fa-var-money: unqoute('"\\f0d6"');
$fa-var-moon-o: unqoute('"\\f186"');
$fa-var-mortar-board: unqoute('"\\f19d"');
$fa-var-motorcycle: unqoute('"\\f21c"');
$fa-var-music: unqoute('"\\f001"');
$fa-var-navicon: unqoute('"\\f0c9"');
$fa-var-neuter: unqoute('"\\f22c"');
$fa-var-newspaper-o: unqoute('"\\f1ea"');
$fa-var-openid: unqoute('"\\f19b"');
$fa-var-outdent: unqoute('"\\f03b"');
$fa-var-pagelines: unqoute('"\\f18c"');
$fa-var-paint-brush: unqoute('"\\f1fc"');
$fa-var-paper-plane: unqoute('"\\f1d8"');
$fa-var-paper-plane-o: unqoute('"\\f1d9"');
$fa-var-paperclip: unqoute('"\\f0c6"');
$fa-var-paragraph: unqoute('"\\f1dd"');
$fa-var-paste: unqoute('"\\f0ea"');
$fa-var-pause: unqoute('"\\f04c"');
$fa-var-paw: unqoute('"\\f1b0"');
$fa-var-paypal: unqoute('"\\f1ed"');
$fa-var-pencil: unqoute('"\\f040"');
$fa-var-pencil-square: unqoute('"\\f14b"');
$fa-var-pencil-square-o: unqoute('"\\f044"');
$fa-var-phone: unqoute('"\\f095"');
$fa-var-phone-square: unqoute('"\\f098"');
$fa-var-photo: unqoute('"\\f03e"');
$fa-var-picture-o: unqoute('"\\f03e"');
$fa-var-pie-chart: unqoute('"\\f200"');
$fa-var-pied-piper: unqoute('"\\f1a7"');
$fa-var-pied-piper-alt: unqoute('"\\f1a8"');
$fa-var-pinterest: unqoute('"\\f0d2"');
$fa-var-pinterest-p: unqoute('"\\f231"');
$fa-var-pinterest-square: unqoute('"\\f0d3"');
$fa-var-plane: unqoute('"\\f072"');
$fa-var-play: unqoute('"\\f04b"');
$fa-var-play-circle: unqoute('"\\f144"');
$fa-var-play-circle-o: unqoute('"\\f01d"');
$fa-var-plug: unqoute('"\\f1e6"');
$fa-var-plus: unqoute('"\\f067"');
$fa-var-plus-circle: unqoute('"\\f055"');
$fa-var-plus-square: unqoute('"\\f0fe"');
$fa-var-plus-square-o: unqoute('"\\f196"');
$fa-var-power-off: unqoute('"\\f011"');
$fa-var-print: unqoute('"\\f02f"');
$fa-var-puzzle-piece: unqoute('"\\f12e"');
$fa-var-qq: unqoute('"\\f1d6"');
$fa-var-qrcode: unqoute('"\\f029"');
$fa-var-question: unqoute('"\\f128"');
$fa-var-question-circle: unqoute('"\\f059"');
$fa-var-quote-left: unqoute('"\\f10d"');
$fa-var-quote-right: unqoute('"\\f10e"');
$fa-var-ra: unqoute('"\\f1d0"');
$fa-var-random: unqoute('"\\f074"');
$fa-var-rebel: unqoute('"\\f1d0"');
$fa-var-recycle: unqoute('"\\f1b8"');
$fa-var-reddit: unqoute('"\\f1a1"');
$fa-var-reddit-square: unqoute('"\\f1a2"');
$fa-var-refresh: unqoute('"\\f021"');
$fa-var-remove: unqoute('"\\f00d"');
$fa-var-renren: unqoute('"\\f18b"');
$fa-var-reorder: unqoute('"\\f0c9"');
$fa-var-repeat: unqoute('"\\f01e"');
$fa-var-reply: unqoute('"\\f112"');
$fa-var-reply-all: unqoute('"\\f122"');
$fa-var-retweet: unqoute('"\\f079"');
$fa-var-rmb: unqoute('"\\f157"');
$fa-var-road: unqoute('"\\f018"');
$fa-var-rocket: unqoute('"\\f135"');
$fa-var-rotate-left: unqoute('"\\f0e2"');
$fa-var-rotate-right: unqoute('"\\f01e"');
$fa-var-rouble: unqoute('"\\f158"');
$fa-var-rss: unqoute('"\\f09e"');
$fa-var-rss-square: unqoute('"\\f143"');
$fa-var-rub: unqoute('"\\f158"');
$fa-var-ruble: unqoute('"\\f158"');
$fa-var-rupee: unqoute('"\\f156"');
$fa-var-save: unqoute('"\\f0c7"');
$fa-var-scissors: unqoute('"\\f0c4"');
$fa-var-search: unqoute('"\\f002"');
$fa-var-search-minus: unqoute('"\\f010"');
$fa-var-search-plus: unqoute('"\\f00e"');
$fa-var-sellsy: unqoute('"\\f213"');
$fa-var-send: unqoute('"\\f1d8"');
$fa-var-send-o: unqoute('"\\f1d9"');
$fa-var-server: unqoute('"\\f233"');
$fa-var-share: unqoute('"\\f064"');
$fa-var-share-alt: unqoute('"\\f1e0"');
$fa-var-share-alt-square: unqoute('"\\f1e1"');
$fa-var-share-square: unqoute('"\\f14d"');
$fa-var-share-square-o: unqoute('"\\f045"');
$fa-var-shekel: unqoute('"\\f20b"');
$fa-var-sheqel: unqoute('"\\f20b"');
$fa-var-shield: unqoute('"\\f132"');
$fa-var-ship: unqoute('"\\f21a"');
$fa-var-shirtsinbulk: unqoute('"\\f214"');
$fa-var-shopping-cart: unqoute('"\\f07a"');
$fa-var-sign-in: unqoute('"\\f090"');
$fa-var-sign-out: unqoute('"\\f08b"');
$fa-var-signal: unqoute('"\\f012"');
$fa-var-simplybuilt: unqoute('"\\f215"');
$fa-var-sitemap: unqoute('"\\f0e8"');
$fa-var-skyatlas: unqoute('"\\f216"');
$fa-var-skype: unqoute('"\\f17e"');
$fa-var-slack: unqoute('"\\f198"');
$fa-var-sliders: unqoute('"\\f1de"');
$fa-var-slideshare: unqoute('"\\f1e7"');
$fa-var-smile-o: unqoute('"\\f118"');
$fa-var-soccer-ball-o: unqoute('"\\f1e3"');
$fa-var-sort: unqoute('"\\f0dc"');
$fa-var-sort-alpha-asc: unqoute('"\\f15d"');
$fa-var-sort-alpha-desc: unqoute('"\\f15e"');
$fa-var-sort-amount-asc: unqoute('"\\f160"');
$fa-var-sort-amount-desc: unqoute('"\\f161"');
$fa-var-sort-asc: unqoute('"\\f0de"');
$fa-var-sort-desc: unqoute('"\\f0dd"');
$fa-var-sort-down: unqoute('"\\f0dd"');
$fa-var-sort-numeric-asc: unqoute('"\\f162"');
$fa-var-sort-numeric-desc: unqoute('"\\f163"');
$fa-var-sort-up: unqoute('"\\f0de"');
$fa-var-soundcloud: unqoute('"\\f1be"');
$fa-var-space-shuttle: unqoute('"\\f197"');
$fa-var-spinner: unqoute('"\\f110"');
$fa-var-spoon: unqoute('"\\f1b1"');
$fa-var-spotify: unqoute('"\\f1bc"');
$fa-var-square: unqoute('"\\f0c8"');
$fa-var-square-o: unqoute('"\\f096"');
$fa-var-stack-exchange: unqoute('"\\f18d"');
$fa-var-stack-overflow: unqoute('"\\f16c"');
$fa-var-star: unqoute('"\\f005"');
$fa-var-star-half: unqoute('"\\f089"');
$fa-var-star-half-empty: unqoute('"\\f123"');
$fa-var-star-half-full: unqoute('"\\f123"');
$fa-var-star-half-o: unqoute('"\\f123"');
$fa-var-star-o: unqoute('"\\f006"');
$fa-var-steam: unqoute('"\\f1b6"');
$fa-var-steam-square: unqoute('"\\f1b7"');
$fa-var-step-backward: unqoute('"\\f048"');
$fa-var-step-forward: unqoute('"\\f051"');
$fa-var-stethoscope: unqoute('"\\f0f1"');
$fa-var-stop: unqoute('"\\f04d"');
$fa-var-street-view: unqoute('"\\f21d"');
$fa-var-strikethrough: unqoute('"\\f0cc"');
$fa-var-stumbleupon: unqoute('"\\f1a4"');
$fa-var-stumbleupon-circle: unqoute('"\\f1a3"');
$fa-var-subscript: unqoute('"\\f12c"');
$fa-var-subway: unqoute('"\\f239"');
$fa-var-suitcase: unqoute('"\\f0f2"');
$fa-var-sun-o: unqoute('"\\f185"');
$fa-var-superscript: unqoute('"\\f12b"');
$fa-var-support: unqoute('"\\f1cd"');
$fa-var-table: unqoute('"\\f0ce"');
$fa-var-tablet: unqoute('"\\f10a"');
$fa-var-tachometer: unqoute('"\\f0e4"');
$fa-var-tag: unqoute('"\\f02b"');
$fa-var-tags: unqoute('"\\f02c"');
$fa-var-tasks: unqoute('"\\f0ae"');
$fa-var-taxi: unqoute('"\\f1ba"');
$fa-var-tencent-weibo: unqoute('"\\f1d5"');
$fa-var-terminal: unqoute('"\\f120"');
$fa-var-text-height: unqoute('"\\f034"');
$fa-var-text-width: unqoute('"\\f035"');
$fa-var-th: unqoute('"\\f00a"');
$fa-var-th-large: unqoute('"\\f009"');
$fa-var-th-list: unqoute('"\\f00b"');
$fa-var-thumb-tack: unqoute('"\\f08d"');
$fa-var-thumbs-down: unqoute('"\\f165"');
$fa-var-thumbs-o-down: unqoute('"\\f088"');
$fa-var-thumbs-o-up: unqoute('"\\f087"');
$fa-var-thumbs-up: unqoute('"\\f164"');
$fa-var-ticket: unqoute('"\\f145"');
$fa-var-times: unqoute('"\\f00d"');
$fa-var-times-circle: unqoute('"\\f057"');
$fa-var-times-circle-o: unqoute('"\\f05c"');
$fa-var-tint: unqoute('"\\f043"');
$fa-var-toggle-down: unqoute('"\\f150"');
$fa-var-toggle-left: unqoute('"\\f191"');
$fa-var-toggle-off: unqoute('"\\f204"');
$fa-var-toggle-on: unqoute('"\\f205"');
$fa-var-toggle-right: unqoute('"\\f152"');
$fa-var-toggle-up: unqoute('"\\f151"');
$fa-var-train: unqoute('"\\f238"');
$fa-var-transgender: unqoute('"\\f224"');
$fa-var-transgender-alt: unqoute('"\\f225"');
$fa-var-trash: unqoute('"\\f1f8"');
$fa-var-trash-o: unqoute('"\\f014"');
$fa-var-tree: unqoute('"\\f1bb"');
$fa-var-trello: unqoute('"\\f181"');
$fa-var-trophy: unqoute('"\\f091"');
$fa-var-truck: unqoute('"\\f0d1"');
$fa-var-try: unqoute('"\\f195"');
$fa-var-tty: unqoute('"\\f1e4"');
$fa-var-tumblr: unqoute('"\\f173"');
$fa-var-tumblr-square: unqoute('"\\f174"');
$fa-var-turkish-lira: unqoute('"\\f195"');
$fa-var-twitch: unqoute('"\\f1e8"');
$fa-var-twitter: unqoute('"\\f099"');
$fa-var-twitter-square: unqoute('"\\f081"');
$fa-var-umbrella: unqoute('"\\f0e9"');
$fa-var-underline: unqoute('"\\f0cd"');
$fa-var-undo: unqoute('"\\f0e2"');
$fa-var-university: unqoute('"\\f19c"');
$fa-var-unlink: unqoute('"\\f127"');
$fa-var-unlock: unqoute('"\\f09c"');
$fa-var-unlock-alt: unqoute('"\\f13e"');
$fa-var-unsorted: unqoute('"\\f0dc"');
$fa-var-upload: unqoute('"\\f093"');
$fa-var-usd: unqoute('"\\f155"');
$fa-var-user: unqoute('"\\f007"');
$fa-var-user-md: unqoute('"\\f0f0"');
$fa-var-user-plus: unqoute('"\\f234"');
$fa-var-user-secret: unqoute('"\\f21b"');
$fa-var-user-times: unqoute('"\\f235"');
$fa-var-users: unqoute('"\\f0c0"');
$fa-var-venus: unqoute('"\\f221"');
$fa-var-venus-double: unqoute('"\\f226"');
$fa-var-venus-mars: unqoute('"\\f228"');
$fa-var-viacoin: unqoute('"\\f237"');
$fa-var-video-camera: unqoute('"\\f03d"');
$fa-var-vimeo-square: unqoute('"\\f194"');
$fa-var-vine: unqoute('"\\f1ca"');
$fa-var-vk: unqoute('"\\f189"');
$fa-var-volume-down: unqoute('"\\f027"');
$fa-var-volume-off: unqoute('"\\f026"');
$fa-var-volume-up: unqoute('"\\f028"');
$fa-var-warning: unqoute('"\\f071"');
$fa-var-wechat: unqoute('"\\f1d7"');
$fa-var-weibo: unqoute('"\\f18a"');
$fa-var-weixin: unqoute('"\\f1d7"');
$fa-var-whatsapp: unqoute('"\\f232"');
$fa-var-wheelchair: unqoute('"\\f193"');
$fa-var-wifi: unqoute('"\\f1eb"');
$fa-var-windows: unqoute('"\\f17a"');
$fa-var-won: unqoute('"\\f159"');
$fa-var-wordpress: unqoute('"\\f19a"');
$fa-var-wrench: unqoute('"\\f0ad"');
$fa-var-xing: unqoute('"\\f168"');
$fa-var-xing-square: unqoute('"\\f169"');
$fa-var-yahoo: unqoute('"\\f19e"');
$fa-var-yelp: unqoute('"\\f1e9"');
$fa-var-yen: unqoute('"\\f157"');
$fa-var-youtube: unqoute('"\\f167"');
$fa-var-youtube-play: unqoute('"\\f16a"');
$fa-var-youtube-square: unqoute('"\\f166"');

