@import "icons/manifest";

// Variables
// --------------------------

$fa-font-path:        "../fonts" !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       fa !default;
$fa-version:          "4.1.0" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;

$fa-icons-list: $fa-web-app-icons-map, 
				$fa-file-type-icons-map, 
				$fa-spinner-icons-map, 
				$fa-form-control-icons-map, 
				$fa-currency-icons-map, 
				$fa-text-editor-icons-map, 
				$fa-directional-icons-map, 
				$fa-brand-icons-map, 
				$fa-video-player-icons-map, 
				$fa-medical-icons-map;

