<section id="new-upgrading">
  <h2 class="page-header">Upgrading from 3.2.1?</h2>
  <p>
    For complete documentation of the syntax changes in {{ site.fontawesome.minor_version }}, check out the
    <a href="{{ page.relative_path }}examples">examples</a>. For the changes to icon names,
    <a href="https://twitter.com/gtagliala">@gtagliala</a> has put together a
    <a href="{{ site.fontawesome.github.url }}/wiki/Upgrading-from-3.2.1-to-4">great wiki page</a> that
    documents all the changes.
  </p>
</section>
