$fa-brand-icons-map: (
	adn: "\f170",
	android: "\f17b",
	apple: "\f179",
	behance: "\f1b4",
	"behance-square": "\f1b5",
	bitbucket: "\f171",
	"bitbucket-square": "\f172",
	bitcoin: "\f15a",
	btc: "\f15a",
	codepen: "\f1cb",
	css3: "\f13c",
	delicious: "\f1a5",
	deviantart: "\f1bd",
	digg: "\f1a6",
	dribbble: "\f17d",
	dropbox: "\f16b",
	drupal: "\f1a9",
	empire: "\f1d1",
	facebook: "\f09a",
	"facebook-square": "\f082",
	flickr: "\f16e",
	foursquare: "\f180",
	ge: "\f1d1",
	git: "\f1d3",
	"git-square": "\f1d2",
	github: "\f09b",
	"github-alt": "\f113",
	"github-square": "\f092",
	gittip: "\f184",
	google: "\f1a0",
	"google-plus": "\f0d5",
	"google-plus-square": "\f0d4",
	"hacker-news": "\f1d4",
	html5: "\f13b",
	instagram: "\f16d",
	joomla: "\f1aa",
	jsfiddle: "\f1cc",
	linkedin: "\f0e1",
	"linkedin-square": "\f08c",
	linux: "\f17c",
	maxcdn: "\f136",
	openid: "\f19b",
	pagelines: "\f18c",
	"pied-piper": "\f1a7",
	"pied-piper-alt": "\f1a8",
	"pied-piper-square": "\f1a7",
	pinterest: "\f0d2",
	"pinterest-square": "\f0d3",
	qq: "\f1d6",
	ra: "\f1d0",
	rebel: "\f1d0",
	reddit: "\f1a1",
	"reddit-square": "\f1a2",
	renren: "\f18b",
	"share-alt": "\f1e0",
	"share-alt-square": "\f1e1",
	skype: "\f17e",
	slack: "\f198",
	soundcloud: "\f1be",
	spotify: "\f1bc",
	"stack-exchange": "\f18d",
	"stack-overflow": "\f16c",
	steam: "\f1b6",
	"steam-square": "\f1b7",
	stumbleupon: "\f1a4",
	"stumbleupon-circle": "\f1a3",
	"tencent-weibo": "\f1d5",
	trello: "\f181",
	tumblr: "\f173",
	"tumblr-square": "\f174",
	twitter: "\f099",
	"twitter-square": "\f081",
	"vimeo-square": "\f194",
	vine: "\f1ca",
	vk: "\f189",
	wechat: "\f1d7",
	weibo: "\f18a",
	weixin: "\f1d7",
	windows: "\f17a",
	wordpress: "\f19a",
	xing: "\f168",
	"xing-square": "\f169",
	yahoo: "\f19e",
	youtube: "\f167",
	"youtube-play": "\f16a",
	"youtube-square": "\f166",
) !default;
