$fa-currency-icons-map: (
	bitcoin: "\f15a",
	btc: "\f15a",
	cny: "\f157",
	dollar: "\f155",
	eur: "\f153",
	euro: "\f153",
	gbp: "\f154",
	inr: "\f156",
	jpy: "\f157",
	krw: "\f159",
	money: "\f0d6",
	rmb: "\f157",
	rouble: "\f158",
	rub: "\f158",
	ruble: "\f158",
	rupee: "\f156",
	try: "\f195",
	"turkish-lira": "\f195",
	usd: "\f155",
	won: "\f159",
	yen: "\f157"
) !default;
