$fa-form-control-icons-map: (
	"check-square": "\f14a",
	"check-square-o": "\f046",
	circle: "\f111",
	"circle-o": "\f10c",
	"dot-circle-o": "\f192",
	"minus-square": "\f146",
	"minus-square-o": "\f147",
	"plus-square": "\f0fe",
	"plus-square-o": "\f196",
	square: "\f0c8",
	"square-o": "\f096"
) !default;
