$fa-medical-icons-map: (
	ambulance: "\f0f9",
	"h-square": "\f0fd",
	"hospital-o": "\f0f8",
	medkit: "\f0fa",
	"plus-square": "\f0fe",
	stethoscope: "\f0f1",
	"user-md": "\f0f0",
	wheelchair: "\f193",
) !default;
