$fa-text-editor-icons-map: (
	"align-center": "\f037",
	"align-justify": "\f039",
	"align-left": "\f036",
	"align-right": "\f038",
	bold: "\f032",
	chain: "\f0c1",
	"chain-broken": "\f127",
	clipboard: "\f0ea",
	columns: "\f0db",
	copy: "\f0c5",
	cut: "\f0c4",
	dedent: "\f03b",
	eraser: "\f12d",
	file: "\f15b",
	"file-o": "\f016",
	"file-text": "\f15c",
	"file-text-o": "\f0f6",
	"files-o": "\f0c5",
	"floppy-o": "\f0c7",
	font: "\f031",
	header: "\f1dc",
	indent: "\f03c",
	italic: "\f033",
	link: "\f0c1",
	list: "\f03a",
	list-alt: "\f022",
	list-ol: "\f0cb",
	list-ul: "\f0ca",
	outdent: "\f03b",
	paperclip: "\f0c6",
	paragraph: "\f1dd",
	paste: "\f0ea",
	repeat: "\f01e",
	"rotate-left": "\f0e2",
	"rotate-right": "\f01e",
	save: "\f0c7",
	scissors: "\f0c4",
	strikethrough: "\f0cc",
	subscript: "\f12c",
	superscript: "\f12b",
	table: "\f0ce",
	"text-height": "\f034",
	"text-width": "\f035",
	th: "\f00a",
	"th-large": "\f009",
	"th-list": "\f00b",
	underline: "\f0cd",
	undo: "\f0e2",
	unlink: "\f127"
) !default;
