$fa-video-player-icons-map: (
	"arrows-alt": "\f0b2",
	backward: "\f04a",
	compress: "\f066",
	eject: "\f052",
	expand: "\f065",
	"fast-backward": "\f049",
	"fast-forward": "\f050",
	forward: "\f04e",
	pause: "\f04c",
	play: "\f04b",
	"play-circle": "\f144",
	"play-circle-o": "\f01d",
	"step-backward": "\f048",
	"step-forward": "\f051",
	stop: "\f04d",
	"youtube-play": "\f16a",
) !default;
