$fa-web-app-icons-map: (
	adjust: "\f042",
	anchor: "\f13d",
	archive: "\f187",
	arrows: "\f047",
	"arrows-h": "\f07e",
	"arrows-v": "\f07d",
	asterisk: "\f069",
	automobile: "\f1b9",
	ban: "\f05e",
	bank: "\f19c",
	"bar-chart-o": "\f080",
	barcode: "\f02a",
	bars: "\f0c9",
	beer: "\f0fc",
	bell: "\f0f3",
	"bell-o": "\f0a2",
	bolt: "\f0e7",
	bomb: "\f1e2",
	book: "\f02d",
	bookmark: "\f02e",
	"bookmark-o": "\f097",
	briefcase: "\f0b1",
	bug: "\f188",
	building: "\f1ad",
	"building-o": "\f0f7",
	bullhorn: "\f0a1",
	bullseye: "\f140",
	cab: "\f1ba",
	calendar: "\f073",
	"calendar-o": "\f133",
	camera: "\f030",
	"camera-retro": "\f083",
	car: "\f1b9",
	"caret-square-o-down": "\f150",
	"caret-square-o-left": "\f191",
	"caret-square-o-right": "\f152",
	"caret-square-o-up": "\f151",
	certificate: "\f0a3",
	check: "\f00c",
	"check-circle": "\f058",
	"check-circle-o": "\f05d",
	"check-square": "\f14a",
	"check-square-o": "\f046",
	child: "\f1ae",
	circle: "\f111",
	"circle-o": "\f10c",
	"circle-o-notch": "\f1ce",
	"circle-thin": "\f1db",
	'clock-o': "\f017",
	cloud: "\f0c2",
	"cloud-download": "\f0ed",
	"cloud-upload": "\f0ee",
	code: "\f121",
	"code-fork": "\f126",
	coffee: "\f0f4",
	cog: "\f013",
	cogs: "\f085",
	comment: "\f075",
	"comment-o": "\f0e5",
	comments: "\f086",
	"comments-o": "\f0e6",
	compass: "\f14e",
	"credit-card": "\f09d",
	crop: "\f125",
	crosshairs: "\f05b",
	cube: "\f1b2",
	cubes: "\f1b3",
	cutlery: "\f0f5",
	dashboard: "\f0e4",
	database: "\f1c0",
	desktop: "\f108",
	"dot-circle-o": "\f192",
	download: "\f019",
	edit: "\f044",
	"ellipsis-h": "\f141",
	"ellipsis-v": "\f142",
	envelope: "\f0e0",
	"envelope-o": "\f003",
	envelope-square: "\f199",
	eraser: "\f12d",
	exchange: "\f0ec",
	exclamation: "\f12a",
	"exclamation-circle": "\f06a",
	"exclamation-triangle": "\f071",
	"external-link": "\f08e",
	"external-link-square": "\f14c",
	eye: "\f06e",
	"eye-slash": "\f070",
	fax: "\f1ac",
	female: "\f182",
	"fighter-jet": "\f0fb",
	"file-archive-o": "\f1c6",
	"file-audio-o": "\f1c7",
	"file-code-o": "\f1c9",
	"file-excel-o": "\f1c3",
	"file-image-o": "\f1c5",
	"file-movie-o": "\f1c8",
	"file-pdf-o": "\f1c1",
	"file-photo-o": "\f1c5",
	"file-picture-o": "\f1c5",
	"file-powerpoint-o": "\f1c4",
	"file-sound-o": "\f1c7",
	"file-video-o": "\f1c8",
	"file-word-o": "\f1c2",
	"file-zip-o": "\f1c6",
	film: "\f008",
	filter: "\f0b0",
	fire: "\f06d",
	"fire-extinguisher": "\f134",
	flag: "\f024",
	"flag-checkered": "\f11e",
	"flag-o": "\f11d",
	flash: "\f0e7",
	flask: "\f0c3",
	folder: "\f07b",
	"folder-o": "\f114",
	"folder-open": "\f07c",
	"folder-open-o": "\f115",
	"frown-o": "\f119",
	gamepad: "\f11b",
	gavel: "\f0e3",
	gear: "\f013",
	gears: "\f085",
	gift: "\f06b",
	glass: "\f000",
	globe: "\f0ac",
	graduation-cap: "\f19d",
	group: "\f0c0",
	hdd-o: "\f0a0",
	headphones: "\f025",
	heart: "\f004",
	heart-o: "\f08a",
	history: "\f1da",
	home: "\f015",
	image: "\f03e",
	inbox: "\f01c",
	info: "\f129",
	info-circle: "\f05a",
	institution: "\f19c",
	key: "\f084",
	keyboard-o: "\f11c",
	language: "\f1ab",
	laptop: "\f109",
	leaf: "\f06c",
	legal: "\f0e3",
	lemon-o: "\f094",
	level-down: "\f149",
	level-up: "\f148",
	life-bouy: "\f1cd",
	life-ring: "\f1cd",
	life-saver: "\f1cd",
	lightbulb-o: "\f0eb",
	location-arrow: "\f124",
	lock: "\f023",
	magic: "\f0d0",
	magnet: "\f076",
	mail-forward: "\f064",
	mail-reply: "\f112",
	mail-reply-all: "\f122",
	male: "\f183",
	map-marker: "\f041",
	meh-o: "\f11a",
	microphone: "\f130",
	microphone-slash: "\f131",
	minus: "\f068",
	minus-circle: "\f056",
	minus-square: "\f146",
	minus-square-o: "\f147",
	mobile: "\f10b",
	mobile-phone: "\f10b",
	money: "\f0d6",
	moon-o: "\f186",
	mortar-board: "\f19d",
	music: "\f001",
	navicon: "\f0c9",
	paper-plane: "\f1d8",
	paper-plane-o: "\f1d9",
	paw: "\f1b0",
	pencil: "\f040",
	pencil-square: "\f14b",
	pencil-square-o: "\f044",
	phone: "\f095",
	phone-square: "\f098",
	photo: "\f03e",
	picture-o: "\f03e",
	plane: "\f072",
	plus: "\f067",
	plus-circle: "\f055",
	plus-square: "\f0fe",
	plus-square-o: "\f196",
	power-off: "\f011",
	print: "\f02f",
	puzzle-piece: "\f12e",
	qrcode: "\f029",
	question: "\f128",
	question-circle: "\f059",
	quote-left: "\f10d",
	quote-right: "\f10e",
	random: "\f074",
	recycle: "\f1b8",
	refresh: "\f021",
	reorder: "\f0c9",
	reply: "\f112",
	reply-all: "\f122",
	retweet: "\f079",
	road: "\f018",
	rocket: "\f135",
	rss: "\f09e",
	rss-square: "\f143",
	search: "\f002",
	search-minus: "\f010",
	search-plus: "\f00e",
	send: "\f1d8",
	send-o: "\f1d9",
	share: "\f064",
	share-alt: "\f1e0",
	share-alt-square: "\f1e1",
	share-square: "\f14d",
	share-square-o: "\f045",
	shield: "\f132",
	shopping-cart: "\f07a",
	sign-in: "\f090",
	sign-out: "\f08b",
	signal: "\f012",
	sitemap: "\f0e8",
	sliders: "\f1de",
	smile-o: "\f118",
	sort: "\f0dc",
	sort-alpha-asc: "\f15d",
	sort-alpha-desc: "\f15e",
	sort-amount-asc: "\f160",
	sort-amount-desc: "\f161",
	sort-asc: "\f0de",
	sort-desc: "\f0dd",
	sort-down: "\f0dd",
	sort-numeric-asc: "\f162",
	sort-numeric-desc: "\f163",
	sort-up: "\f0de",
	space-shuttle: "\f197",
	spinner: "\f110",
	spoon: "\f1b1",
	square: "\f0c8",
	square-o: "\f096",
	star: "\f005",
	star-half: "\f089",
	star-half-empty: "\f123",
	star-half-full: "\f123",
	star-half-o: "\f123",
	star-o: "\f006",
	suitcase: "\f0f2",
	sun-o: "\f185",
	support: "\f1cd",
	tablet: "\f10a",
	tachometer: "\f0e4",
	tag: "\f02b",
	tags: "\f02c",
	tasks: "\f0ae",
	taxi: "\f1ba",
	terminal: "\f120",
	thumb-tack: "\f08d",
	thumbs-down: "\f165",
	thumbs-o-down: "\f088",
	thumbs-o-up: "\f087",
	thumbs-up: "\f164",
	ticket: "\f145",
	times: "\f00d",
	times-circle: "\f057",
	times-circle-o: "\f05c",
	tint: "\f043",
	toggle-down: "\f150",
	toggle-left: "\f191",
	toggle-right: "\f152",
	toggle-up: "\f151",
	trash-o: "\f014",
	tree: "\f1bb",
	trophy: "\f091",
	truck: "\f0d1",
	umbrella: "\f0e9",
	university: "\f19c",
	unlock: "\f09c",
	unlock-alt: "\f13e",
	unsorted: "\f0dc",
	upload: "\f093",
	user: "\f007",
	users: "\f0c0",
	video-camera: "\f03d",
	volume-down: "\f027",
	volume-off: "\f026",
	volume-up: "\f028",
	warning: "\f071",
	wheelchair: "\f193",
	wrench: "\f0ad"
) !default;
