---
relative_path: ../../
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ page.relative_path }}assets/css/site.css">
    <link rel="stylesheet" href="{{ page.relative_path }}assets/font-awesome/css/font-awesome.css">
    <script src="https://use.fonticons.com/ffe176a3.js"></script>
  </head>

  <body>
    <div class="container">
      <div>
        <h1>All</h1>
        <div>
          {% for icon in icons %}
          <i class="fa fa-{{ icon.id }}"></i>{% endfor %}
        </div>
      </div>


      <div>
        <h1>All (Unicode)</h1>
        {% for icon in icons %}
        <i class="fa">&#x{{ icon.unicode }}</i>
        {% endfor %}
      </div>

      <div>
        <h1>Non-Brand (Unicode)</h1>

        {% for icon in icons %}
          {% unless icon.categories contains "Brand Icons" %}
            <i class="fa">&#x{{ icon.unicode }}</i>
          {% endunless %}
        {% endfor %}
      </div>

      <div>
        <h1>Brand (Unicode)</h1>

        {% for icon in icons %}
          {% if icon.categories contains "Brand Icons" %}
          <i class="fa">&#x{{ icon.unicode }}</i>
          {% endif %}
        {% endfor %}
      </div>


    </div>
  </body>

</html>
