<p>
  <a href="#">
    <span class="fa-stack" aria-hidden="true">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    Twitter Icon
  </a>
  <a href="#">
    <span class="fa-stack" aria-hidden="true">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
    </span>
    Facebook Icon
  </a>
  <a href="#">
    <span class="fa-stack" aria-hidden="true">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
    GitHub Icon
  </a>
</p>
<p>
  <a href="#">
    <span class="fa-stack" aria-hidden="true">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    Twitter Icon
  </a>
  <a href="#">
    <span class="fa-stack" aria-hidden="true">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
    </span>
    Facebook Icon
  </a>
  <a href="#">
    <span class="fa-stack" aria-hidden="true">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
    GitHub Icon
  </a>
</p>
<p>
  <a href="#">
    <span class="fa-stack" aria-hidden="true">
      <i class="fa fa-circle-o fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x"></i>
    </span>
    Twitter Icon
  </a>
  <a href="#">
    <span class="fa-stack" aria-hidden="true">
      <i class="fa fa-circle-o fa-stack-2x"></i>
      <i class="fa fa-facebook-f fa-stack-1x"></i>
    </span>
    Facebook Icon
  </a>
  <a href="#">
    <span class="fa-stack" aria-hidden="true">
      <i class="fa fa-circle-o fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x"></i>
    </span>
    GitHub Icon
  </a>
</p>
