<span style="border: solid 1px #d3d3d3; display: inline-block; text-align: center">
  <span class="fa-stack">
    <i class="fa fa-square fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
  </span><br>Center
</span>
<hr>
<p>
  <span class="fa-stack">
    <i class="fa fa-square fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
  </span>
  Twitter Icon
  <span class="fa-stack">
    <i class="fa fa-square fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
  </span>
  Facebook Icon
  <span class="fa-stack">
    <i class="fa fa-square fa-stack-2x"></i>
    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
  </span>
  GitHub Icon
</p>
<p>
  <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
  </span>
  Twitter Icon
  <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
  </span>
  Facebook Icon
  <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
  </span>
  GitHub Icon
</p>
<p>
  <span class="fa-stack">
    <i class="fa fa-circle-o fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
  </span>
  Twitter Icon
  <span class="fa-stack">
    <i class="fa fa-circle-o fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x"></i>
  </span>
  Facebook Icon
  <span class="fa-stack">
    <i class="fa fa-circle-o fa-stack-2x"></i>
    <i class="fa fa-github fa-stack-1x"></i>
  </span>
  GitHub Icon
</p>
