<p>
  <span class="fa-icon-stack">
    <i class="fa-icon fa-icon-sign-blank fa-icon-stack-base"></i>
    <i class="fa-icon fa-icon-twitter fa-icon-light"></i>
  </span>
  Twitter Icon
  <span class="fa-icon-stack">
    <i class="fa-icon fa-icon-sign-blank fa-icon-stack-base"></i>
    <i class="fa-icon fa-icon-facebook fa-icon-light"></i>
  </span>
  Facebook Icon
  <span class="fa-icon-stack">
    <i class="fa-icon fa-icon-sign-blank fa-icon-stack-base"></i>
    <i class="fa-icon fa-icon-github fa-icon-light"></i>
  </span>
  GitHub Icon
</p>
<p>
  <span class="fa-icon-stack">
    <i class="fa-icon fa-icon-circle fa-icon-stack-base"></i>
    <i class="fa-icon fa-icon-twitter fa-icon-light"></i>
  </span>
  Twitter Icon
  <span class="fa-icon-stack">
    <i class="fa-icon fa-icon-circle fa-icon-stack-base"></i>
    <i class="fa-icon fa-icon-facebook fa-icon-light"></i>
  </span>
  Facebook Icon
  <span class="fa-icon-stack">
    <i class="fa-icon fa-icon-circle fa-icon-stack-base"></i>
    <i class="fa-icon fa-icon-github fa-icon-light"></i>
  </span>
  GitHub Icon
</p>
<p>
  <span class="fa-icon-stack">
    <i class="fa-icon fa-icon-circle-blank fa-icon-stack-base"></i>
    <i class="fa-icon fa-icon-twitter"></i>
  </span>
  Twitter Icon
  <span class="fa-icon-stack">
    <i class="fa-icon fa-icon-circle-blank fa-icon-stack-base"></i>
    <i class="fa-icon fa-icon-facebook"></i>
  </span>
  Facebook Icon
  <span class="fa-icon-stack">
    <i class="fa-icon fa-icon-circle-blank fa-icon-stack-base"></i>
    <i class="fa-icon fa-icon-github"></i>
  </span>
  GitHub Icon
</p>