<p>
  <span class="icon-stack">
    <i class="icon-sign-blank icon-stack-base"></i>
    <i class="icon-twitter icon-light"></i>
  </span>
  Twitter Icon
  <span class="icon-stack">
    <i class="icon-sign-blank icon-stack-base"></i>
    <i class="icon-facebook icon-light"></i>
  </span>
  Facebook Icon
  <span class="icon-stack">
    <i class="icon-sign-blank icon-stack-base"></i>
    <i class="icon-github icon-light"></i>
  </span>
  GitHub Icon
</p>
<p>
  <span class="icon-stack">
    <i class="icon-circle icon-stack-base"></i>
    <i class="icon-twitter icon-light"></i>
  </span>
  Twitter Icon
  <span class="icon-stack">
    <i class="icon-circle icon-stack-base"></i>
    <i class="icon-facebook icon-light"></i>
  </span>
  Facebook Icon
  <span class="icon-stack">
    <i class="icon-circle icon-stack-base"></i>
    <i class="icon-github icon-light"></i>
  </span>
  GitHub Icon
</p>
<p>
  <span class="icon-stack">
    <i class="icon-circle-blank icon-stack-base"></i>
    <i class="icon-twitter"></i>
  </span>
  Twitter Icon
  <span class="icon-stack">
    <i class="icon-circle-blank icon-stack-base"></i>
    <i class="icon-facebook"></i>
  </span>
  Facebook Icon
  <span class="icon-stack">
    <i class="icon-circle-blank icon-stack-base"></i>
    <i class="icon-github"></i>
  </span>
  GitHub Icon
</p>