<p>
  <a href="#">
    <span class="icon-stack">
      <i class="icon-sign-blank icon-stack-base"></i>
      <i class="icon-twitter icon-light"></i>
    </span>
    Twitter Icon
  </a>
  <a href="#">
    <span class="icon-stack">
      <i class="icon-sign-blank icon-stack-base"></i>
      <i class="icon-facebook icon-light"></i>
    </span>
    Facebook Icon
  </a>
  <a href="#">
    <span class="icon-stack">
      <i class="icon-sign-blank icon-stack-base"></i>
      <i class="icon-github icon-light"></i>
    </span>
    GitHub Icon
  </a>
</p>
<p>
  <a href="#">
    <span class="icon-stack">
      <i class="icon-circle icon-stack-base"></i>
      <i class="icon-twitter icon-light"></i>
    </span>
    Twitter Icon
  </a>
  <a href="#">
    <span class="icon-stack">
      <i class="icon-circle icon-stack-base"></i>
      <i class="icon-facebook icon-light"></i>
    </span>
    Facebook Icon
  </a>
  <a href="#">
    <span class="icon-stack">
      <i class="icon-circle icon-stack-base"></i>
      <i class="icon-github icon-light"></i>
    </span>
    GitHub Icon
  </a>
</p>
<p>
  <a href="#">
    <span class="icon-stack">
      <i class="icon-circle-blank icon-stack-base"></i>
      <i class="icon-twitter"></i>
    </span>
    Twitter Icon
  </a>
  <a href="#">
    <span class="icon-stack">
      <i class="icon-circle-blank icon-stack-base"></i>
      <i class="icon-facebook"></i>
    </span>
    Facebook Icon
  </a>
  <a href="#">
    <span class="icon-stack">
      <i class="icon-circle-blank icon-stack-base"></i>
      <i class="icon-github"></i>
    </span>
    GitHub Icon
  </a>
</p>