*.pyc
*.egg-info
*.db
*.db.old
*.swp
*.db-journal

.coverage
.DS_Store
.installed.cfg

.idea/*
.svn/*
src/website/static/*
src/website/media/*

bin
build
cfcache
develop-eggs
dist
downloads
eggs
parts
tmp
.sass-cache

src/website/settingslocal.py
stunnel.log