<div class="modal fade" id="modal-download" tabindex="-1" role="dialog" aria-labelledby="modal-download-label"
     xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i><span class="close"></span></button>
        <h2 class="modal-title text-center" id="modal-download-label">
          Get Started
          <i class="fa fa-rocket fa-lg" aria-hidden="true"></i>
        </h2>
      </div>
      <h3 class="bg-fa5 margin-none padding-lg text-center">
        Did you know?  We've got Pro!
      </h3>
      <div class="modal-body">
        <div class="row margin-bottom-lg margin-top">
          <div class="col-md-2 col-sm-2 col-xs-2 text-right padding-right-sm">
            <i class="fas fas-trophy-alt fas-3x fas-fw text-muted hidden-xs"></i>
            <i class="fas fas-trophy-alt fas-2x fas-fw text-muted hidden-sm hidden-md hidden-lg"></i>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <h4 class="page-header margin-top-none padding-bottom-sm margin-bottom-sm">More Icons</h4>
            <p>
              1513 Free Icons. 5097 Pro Icons. 3 Styles. 
            </p>
          </div>
        </div>
        <div class="row margin-bottom-lg">
          <div class="col-md-2 col-sm-2 col-xs-2 text-right padding-right-sm">
            <i class="fa fa-user fas-3x fas-fw text-muted hidden-xs"></i>
            <i class="fa fa-user fas-2x fas-fw text-muted hidden-sm hidden-md hidden-lg"></i>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <h4 class="page-header margin-top-none padding-bottom-sm margin-bottom-sm">Human Support</h4>
            <p>
              Pro Support from REAL human beings through the intertubes.
            </p>
          </div>
        </div>
        <div class="row margin-bottom-lg">
          <div class="col-md-2 col-sm-2 col-xs-2 text-right padding-right-sm">
            <i class="fas fas-rocket fas-3x fas-fw text-muted hidden-xs"></i>
            <i class="fas fas-rocket fas-2x fas-fw text-muted hidden-sm hidden-md hidden-lg"></i>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-10">
            <h4 class="page-header margin-top-none padding-bottom-sm margin-bottom-sm">Tons More</h4>
            <p>
              Ligatures for easier desktop use, shim for quick upgrades from 4, and more styles, icons, and tools with FA Pro.
            </p>
          </div>
        </div>

        <a target="_blank" href="https://fontawesome.com/pro?utm_source=font_awesome_homepage&utm_medium=display&utm_campaign=fa_pro_last_chance&utm_content=start_modal" class="btn btn-fa5 btn-lg btn-block">
          <h3 class="margin-top margin-bottom strong">
            Level up with Pro &nbsp;<i class="fa fa-gamepad" aria-hidden="true"></i>
          </h3>
        </a>
        <div class="text-center margin-top margin-bottom">or</div>
        <a class="btn btn-default btn-lg btn-block" href="{{ page.relative_path }}get-started"
           onClick="_gaq.push(['_trackEvent', 'Outbound Modal Link', 'Stick with Version 4']);">
          No thanks, I'll stick with <br class="visible-xs" />Font Awesome 4
        </a>

      </div>
    </div>
  </div>
</div>
