<div class="modal fade" id="modal-start" tabindex="-1" role="dialog" aria-labelledby="modal-start-label"
     xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i><span class="close"></span></button>
        <h2 class="modal-title text-center" id="modal-start-label">
          Get Started
          <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
        </h2>
      </div>
      <h3 class="bg-fa5 margin-none padding-lg text-center">
        Now serving v5.8.1
      </h3>
      <div class="modal-body">
        <div class="row margin-bottom-lg margin-top">
          <div class="col-md-2 col-sm-2 col-xs-2 text-right padding-right-sm">
            <i class="fas fas-trophy-alt fas-3x fas-fw text-muted hidden-xs"></i>
            <i class="fas fas-trophy-alt fas-2x fas-fw text-muted hidden-sm hidden-md hidden-lg"></i>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <h4 class="page-header margin-top-none padding-bottom-sm margin-bottom-sm">More Icons</h4>
            <p>
              1513 Free icons, plus another 5097 icons with Pro, which also gets you another 46 icon category packs as we finish them!
            </p>
          </div>
        </div>
        <div class="row margin-bottom-lg">
          <div class="col-md-2 col-sm-2 col-xs-2 text-right padding-right-sm">
            <i class="fa fa-user fas-3x fas-fw text-muted hidden-xs"></i>
            <i class="fa fa-user fas-2x fas-fw text-muted hidden-sm hidden-md hidden-lg"></i>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <h4 class="page-header margin-top-none padding-bottom-sm margin-bottom-sm">Human Support</h4>
            <p>
              Real support from human beings through the connected series of intertubes.
            </p>
          </div>
        </div>
        <div class="row margin-bottom-lg">
          <div class="col-md-2 col-sm-2 col-xs-2 text-right padding-right-sm">
            <i class="fas fas-rocket fas-3x fas-fw text-muted hidden-xs"></i>
            <i class="fas fas-rocket fas-2x fas-fw text-muted hidden-sm hidden-md hidden-lg"></i>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-10">
            <h4 class="page-header margin-top-none padding-bottom-sm margin-bottom-sm">Tons More</h4>
            <p>
              Ligatures for easier desktop use, SVG, shim for quick upgrades from 4, more styles, and tools with FA Pro.
            </p>
          </div>
        </div>

        <a target="_blank" href="https://fontawesome.com/?utm_source=font_awesome_homepage&utm_medium=display&utm_campaign=fa5_released&utm_content=download_modal" class="btn btn-fa5 btn-lg btn-block">
          <h3 class="margin-top margin-bottom strong">
            Get the Latest Version &nbsp;<i class="fas fas-external-link" aria-hidden="true"></i>
          </h3>
        </a>
        <div class="text-center margin-top margin-bottom">or</div>
        <a class="btn btn-default btn-lg btn-block" href="{{ page.relative_path }}get-started?utm_source=fontawesome4.7"
           onClick="_gaq.push(['_trackEvent', 'Outbound Modal Link', 'Download on GitHub']);">
          No thanks, I'll just stick with <br class="visible-xs" />Font Awesome 4
        </a>

      </div>
    </div>
  </div>
</div>
