<a class="product" href="http://www.amazon.com/Camera-Retro-T-shirt-Small-Asphalt/dp/B01ELWGV14">
  <div class="product-sizes">
    <i class="fa fa-male"></i>
    <i class="fa fa-female"></i>
    <i class="fa fa-child"></i>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="camera-asphalt">
      <img src="http://ecx.images-amazon.com/images/I/81mzUUTrfYL._UX679_.jpg">
    </div>
    <div class="tab-pane" id="camera-kelly-green">
      <img src="http://ecx.images-amazon.com/images/I/81AihmIpmUL._UX679_.jpg">
    </div>
  </div>

  <ul class="list-inline text-center margin-bottom-lg">
    <li class="active"><span data-target="#camera-asphalt" data-toggle="tab">Asphalt</span></li>
    <li><span data-target="#camera-kelly-green" data-toggle="tab">Kelly Green</span></li>
  </ul>

  <hr />

  <div class="gg margin-bottom">
    <h3 class="gg-col product-title">Camera Retro Tee</h3>
    <h3 class="gg-col text-right text-success">$28</h3>
  </div>
  <div class="text-muted">
    American Apparel Fine Jersey Short Sleeve T-Shirt
  </div>
</a>
