<a class="product" href="http://www.amazon.com/Mens-Classics-T-shirt-Small-Navy/dp/B01ELY5MT4">
  <div class="product-sizes">
    <i class="fa fa-male"></i>
    <i class="fa fa-female"></i>
    <i class="fa fa-child"></i>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="classics-kelly-green">
      <img src="http://ecx.images-amazon.com/images/I/81nYbDVxo8L._UX679_.jpg">
    </div>
    <div class="tab-pane" id="classics-navy">
      <img src="http://ecx.images-amazon.com/images/I/81MMb-JjRNL._UX679_.jpg">
    </div>
  </div>

  <ul class="list-inline text-center margin-bottom-lg">
    <li class="active"><span data-target="#classics-kelly-green" data-toggle="tab">Kelly Green</span></li>
    <li><span data-target="#classics-navy" data-toggle="tab">Navy</span></li>
  </ul>

  <hr />

  <div class="gg margin-bottom">
    <h3 class="gg-col product-title">Classics Tee</h3>
    <h3 class="gg-col text-right text-success">$28</h3>
  </div>
  <div class="text-muted">
    American Apparel Fine Jersey Short Sleeve T-Shirt
  </div>
</a>
