<a class="product" href="http://www.amazon.com/Mens-Schmancy-Green-Small-Black/dp/B01ELYOYY8">
  <div class="product-sizes">
    <i class="fa fa-male"></i>
    <i class="fa fa-female"></i>
    <i class="fa fa-child"></i>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="green-logo-black">
      <img src="http://ecx.images-amazon.com/images/I/715simtOAGL._UX679_.jpg">
    </div>
    <div class="tab-pane" id="green-logo-kelly-green">
      <img src="http://ecx.images-amazon.com/images/I/81Y2BFVgUAL._UX679_.jpg">
    </div>
  </div>

  <ul class="list-inline text-center margin-bottom-lg">
    <li class="active"><span data-target="#green-logo-black" data-toggle="tab">Black</span></li>
    <li><span data-target="#green-logo-kelly-green" data-toggle="tab">Kelly Green</span></li>
  </ul>

  <hr />

  <div class="gg margin-bottom">
    <h3 class="gg-col product-title">Green Logo Tee</h3>
    <h3 class="gg-col text-right text-success">$28</h3>
  </div>
  <div class="text-muted">
    American Apparel Fine Jersey Short Sleeve T-Shirt
  </div>
</a>
