<a class="product" href="http://www.amazon.com/Mens-Skool-T-shirt-Small-Navy/dp/B01ELWVHJ0">
  <div class="product-sizes">
    <i class="fa fa-male"></i>
    <i class="fa fa-female"></i>
    <i class="fa fa-child"></i>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="old-skool-kelly-green">
      <img src="http://ecx.images-amazon.com/images/I/812ghxTnRrL._UX679_.jpg">
    </div>
    <div class="tab-pane" id="old-skool-navy">
      <img src="http://ecx.images-amazon.com/images/I/819SDvnOv8L._UX679_.jpg">
    </div>
  </div>

  <ul class="list-inline text-center margin-bottom-lg">
    <li class="active"><span data-target="#old-skool-kelly-green" data-toggle="tab">Kelly Green</span></li>
    <li><span data-target="#old-skool-navy" data-toggle="tab">Navy</span></li>
  </ul>

  <hr />

  <div class="gg margin-bottom">
    <h3 class="gg-col product-title">Old Skool Tee</h3>
    <h3 class="gg-col text-right text-success">$28</h3>
  </div>
  <div class="text-muted">
    American Apparel Fine Jersey Short Sleeve T-Shirt
  </div>
</a>
