<a class="product" href="http://www.amazon.com/Paper-Scissors-Lizard-Spock-T-shirt/dp/B01ELX6N7U">
  <div class="product-sizes">
    <span class="sr-only">Available in the following sizes: </span>
    <i class="fa fa-male" title="Men"></i>
    <i class="fa fa-female" title="Women"></i>
    <i class="fa fa-child" title="Kids"></i>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="rpsls-blue">
      <img src="http://ecx.images-amazon.com/images/I/81AqlTK02KL._UX679_.jpg">
    </div>
  </div>

  <ul class="list-inline text-center margin-bottom-0">
    <li class="active"><span data-target="#rpsls-blue" data-toggle="tab"><span class="swatch swatch-royalblue" title="Royal Blue"></span><span class="sr-only"> Royal Blue</span></span></li>
  </ul>

  <hr />

  <div class="gg margin-bottom-sm">
    <h3 class="gg-col product-title margin-top-0 margin-bottom-0 padding-right-sm">Rock Paper Scissors Lizard Spock Tee</h3>
    <h3 class="gg-col text-right text-success margin-top-0 margin-bottom-0">$28</h3>
  </div>
  <div class="text-muted">
    American Apparel Fine Jersey Short Sleeve T-Shirt
  </div>
</a>
