<a class="product" href="http://www.amazon.com/Mens-Schmancy-White-T-shirt-Small/dp/B01ELYG428">
  <div class="product-sizes">
    <i class="fa fa-male"></i>
    <i class="fa fa-female"></i>
    <i class="fa fa-child"></i>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="white-logo-kelly-green">
      <img src="http://ecx.images-amazon.com/images/I/81fPcfH8KkL._UX679_.jpg">
    </div>
    <div class="tab-pane" id="white-logo-navy">
      <img src="http://ecx.images-amazon.com/images/I/81wt4C6gBlL._UX679_.jpg">
    </div>
    <div class="tab-pane" id="white-logo-silver">
      <img src="http://ecx.images-amazon.com/images/I/71pEdMm86PL._UX679_.jpg">
    </div>
  </div>

  <ul class="list-inline text-center margin-bottom-lg">
    <li class="active"><span data-target="#white-logo-kelly-green" data-toggle="tab">Kelly Green</span></li>
    <li><span data-target="#white-logo-navy" data-toggle="tab">Navy</span></li>
    <li><span data-target="#white-logo-silver" data-toggle="tab">Silver</span></li>
  </ul>

  <hr />

  <div class="gg margin-bottom">
    <h3 class="gg-col product-title">White Logo Tee</h3>
    <h3 class="gg-col text-right text-success">$28</h3>
  </div>
  <div class="text-muted">
    American Apparel Fine Jersey Short Sleeve T-Shirt
  </div>
</a>
