.btn-kickstarter {
  .button-variant(#fff, #489fdf, mix(#000,#489fdf,10%));
}

#kickstarter-widget {
  margin: -30px auto -70px;
  width: 220px;
}

.jumbotron-ad .well {
  background-color: rgba(255,255,255,.3);
  border-color: rgba(255,255,255,.15);
}
