.filter-parent {
  position: relative;
  font-size: 18px;
  padding-top: 40px;
  margin: -20px auto 50px;
  label {
    position: absolute;
    left: 17px;
    top: 50px;
  }
  #filter-by, .hint {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
  }
  .hint {
    color: #aaa;
  }
  #filter-clear {
    text-decoration: none;
    position: absolute;
    right: 18px;
    top: 53px;
  }
}
