<section id="brand">
  <h2 class="page-header">Brand Icons</h2>

  <div class="alert alert-warning">
    {% include brand-adblock-warning.html %}
  </div>

  <div class="row fontawesome-icon-list margin-bottom-lg">
    {% assign icons_brand = icons | expand_aliases | category:"Brand Icons" | sort_by:'class' %}

    {% for icon in icons_brand %}
      <div class="fa-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/{{ icon.id }}"><i class="fa fa-{{ icon.class }}"></i> {{ icon.class }}{% if icon.alias_of %} <span class="text-muted">(alias)</span>{% endif %}</a></div>
    {% endfor %}
  </div>

  <div class="alert alert-success">
    {% include brand-license.html %}
  </div>
</section>
