<section id="directional">
  <h2 class="page-header">Directional Icons</h2>

  <div class="row fontawesome-icon-list">
    {% assign icons_directional = icons | expand_aliases | category:"Directional Icons" | sort_by:'class' %}

    {% for icon in icons_directional %}
      <div class="fa-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/{{ icon.id }}"><i class="fa fa-{{ icon.class }}"></i> {{ icon.class }}{% if icon.alias_of %} <span class="text-muted">(alias)</span>{% endif %}</a></div>
    {% endfor %}
  </div>

</section>
