//
// Sticky Footer
// --------------------------------------------------
// make sure to set .sticky-footer()

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

//.footer { min-width: 990px; } // necessary fix for non-responsive layouts

.sticky-footer(90px, 40px, 40px, 60px); // sets default values for sticky footer
