<section id="animated-spinner">
  <h2 class="page-header">Animated Spinner</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      Use the <code>fa-icon-spin</code> class to get any icon to rotate. Works well with <code>fa-icon-spinner</code>,
      <code>fa-icon-refresh</code>, and <code>fa-icon-cog</code>.
    </div>
    <div class="col-md-9 col-sm-8">
      <div class="well well-large well-transparent lead">
        <i class="fa-icon fa-icon-spinner fa-icon-spin fa-icon-lg"></i> Spinner icon when loading content...
      </div>
{% highlight html %}
<i class="fa-icon fa-icon-spinner fa-icon-spin fa-icon-lg"></i> Spinner icon when loading content...
{% endhighlight %}
      <p class="alert alert-info">
        <i class="fa-icon fa-icon-info-sign"></i> CSS3 animations aren't supported in IE8 - IE9.
      </p>
    </div>
  </div>
</section>
