<section id="bordered-pulled">
  <h2 class="page-header">
    Bordered &amp; Pulled Icons
    <div class="pull-right text-default margin-top padding-top-sm hidden-xs">
      <a href="https://github.com/FortAwesome/Font-Awesome/blob/{{ site.fontawesome.doc_blob }}/less/bordered-pulled.less" class="text-muted padding-right">View LESS</a>
      <a href="https://github.com/FortAwesome/Font-Awesome/blob/{{ site.fontawesome.doc_blob }}/scss/_bordered-pulled.scss" class="text-muted">View SASS</a>
    </div>
  </h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <p>
        <i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        &hellip;tomorrow we will run faster, stretch out our arms farther&hellip; And then one fine morning&mdash;
        So we beat on, boats against the current, borne back ceaselessly into the past.
      </p>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>
        Use <code>fa-border</code> and <code>fa-pull-right</code> or <code>fa-pull-left</code> for easy pull quotes or
        article icons.
      </p>
{% highlight html %}
<i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
...tomorrow we will run faster, stretch out our arms farther...
And then one fine morning&mdash; So we beat on, boats against the
current, borne back ceaselessly into the past.
{% endhighlight %}
    </div>
  </div>
</section>
