<section id="bordered-pulled">
  <h2 class="page-header">Bordered & Pulled Icons</h2>
  <div class="row">
    <div class="span3">
      <p>
        Use <code>icon-border</code> and <code>pull-right</code> or <code>pull-left</code> for easy pull quotes or
        article graphics.
      </p>
    </div>
    <div class="span9">
      <div class="well well-large well-transparent">
        <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
        Use a few of the new styles together, and you've got easy pull quotes or a great introductory article image.
        Or spinning icons for loading and refreshing content. Or fun big icons in multi-line buttons. You can combine all
        of them in any combination to get lots of new possibilities.
      </div>
{% highlight html %}
<i class="icon-quote-left icon-4x pull-left icon-muted"></i>
Use a few of the new styles together ... lots of new possibilities.
{% endhighlight %}
      <div class="well well-large well-transparent clearfix">
        <i class="icon-flag icon-4x pull-left icon-border"></i>
        Use a few of the new styles together, and you've got easy pull quotes or a great introductory article image.
        Or spinning icons for loading and refreshing content. Or fun big icons in multi-line buttons. You can combine all
        of them in any combination to get lots of new possibilities.
      </div>
{% highlight html %}
<i class="icon-flag icon-4x pull-left icon-border"></i>
Use a few of the new styles together ... lots of new possibilities.
{% endhighlight %}
    </div>
  </div>
</section>
