<section id="bordered-pulled">
  <h2 class="page-header">Bordered & Pulled Icons</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <p>
        <i class="fa fa-quote-left fa-2x pull-left fa-border"></i>
        Use a few styles together and you'll have easy pull quotes or a great introductory article icon.
      </p>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>
        Use <code>fa-border</code> and <code>pull-right</code> or <code>pull-left</code> for easy pull quotes or
        article graphics.
      </p>
{% highlight html %}
<i class="fa fa-quote-left fa-2x pull-left fa-border"></i>
Use a few styles together and you'll have easy pull quotes or a great introductory article icon.
{% endhighlight %}
    </div>
  </div>
</section>
