<section id="button-groups">
  <h2 class="page-header">Button Groups</h2>
  <div class="row">
    <div class="span3">
      <p>
      <div class="btn-group">
        <a class="btn" href="#"><i class="fa fa-align-left"></i></a>
        <a class="btn" href="#"><i class="fa fa-align-center"></i></a>
        <a class="btn" href="#"><i class="fa fa-align-right"></i></a>
        <a class="btn" href="#"><i class="fa fa-align-justify"></i></a>
      </div>
      </p>
    </div>
    <div class="span9">
{% highlight html %}
<div class="btn-group">
  <a class="btn" href="#"><i class="fa fa-align-left"></i></a>
  <a class="btn" href="#"><i class="fa fa-align-center"></i></a>
  <a class="btn" href="#"><i class="fa fa-align-right"></i></a>
  <a class="btn" href="#"><i class="fa fa-align-justify"></i></a>
</div>
{% endhighlight %}
    </div>
  </div>
</section>
