<section id="button-dropdowns">
  <h2 class="page-header">Button Dropdowns</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <div class="btn-group open">
        <a class="btn btn-primary" href="#"><i class="fa-icon fa-icon-user"></i> User</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="fa-icon fa-icon-caret-down"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa-icon fa-icon-pencil fa-icon-fixed-width"></i> Edit</a></li>
          <li><a href="#"><i class="fa-icon fa-icon-trash fa-icon-fixed-width"></i> Delete</a></li>
          <li><a href="#"><i class="fa-icon fa-icon-ban fa-icon-fixed-width"></i> Ban</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="i"></i> Make admin</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 col-sm-8">
{% highlight html %}
<div class="btn-group open">
  <a class="btn btn-primary" href="#"><i class="fa-icon fa-icon-user"></i> User</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa-icon fa-icon-caret-down"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="fa-icon fa-icon-pencil fa-icon-fixed-width"></i> Edit</a></li>
    <li><a href="#"><i class="fa-icon fa-icon-trash fa-icon-fixed-width"></i> Delete</a></li>
    <li><a href="#"><i class="fa-icon fa-icon-ban fa-icon-fixed-width"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Make admin</a></li>
  </ul>
</div>
{% endhighlight %}
      <div class="alert alert-info"><i class="fa-icon fa-icon-info-circle"></i> Don't forget to add the appropriate JavaScript to enable button dropdowns.</div>
    </div>
  </div>
</section>
