<section id="fixed-width">
  <h2 class="page-header">Fixed Width Icons</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <ul class="nav nav-pills nav-stacked margin-bottom">
        <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
        <li><a href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Library</a></li>
        <li><a href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a></li>
        <li><a href="#"><i class="fa fa-cogs fa-fw"></i>&nbsp; Settings</a></li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>
        Use <code>fa-fw</code> to set icons at a fixed width. Great to use when variable icon widths throw off alignment.
        Especially useful in things like nav lists.
      </p>
{% highlight html %}
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
  <li><a href="#"><i class="fa fa-book fa-fw"></i> Library</a></li>
  <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Applications</a></li>
  <li><a href="#"><i class="fa fa-cogs fa-fw"></i> Settings</a></li>
</ul>
{% endhighlight %}
    </div>
  </div>
</section>
