<section id="fixed-width">
  <h2 class="page-header">Fixed Width Icons</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <div class="list-group">
        <a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
        <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Library</a>
        <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a>
        <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
      </div>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>
        Use <code>fa-fw</code> to set icons at a fixed width. Great to use when different icon widths throw off alignment.
        Especially useful in things like nav lists &amp; list groups.
      </p>
{% highlight html %}
<div class="list-group">
  <a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
  <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Library</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
</div>
{% endhighlight %}
    </div>
  </div>
</section>
