<section id="larger">
  <h2 class="page-header">
    Larger Icons
    <div class="pull-right text-default margin-top padding-top-sm hidden-xs">
      <a href="https://github.com/FortAwesome/Font-Awesome/blob/{{ site.fontawesome.doc_blob }}/less/larger.less" class="text-muted padding-right">View LESS</a>
      <a href="https://github.com/FortAwesome/Font-Awesome/blob/{{ site.fontawesome.doc_blob }}/scss/_larger.scss" class="text-muted">View SASS</a>
    </div>
  </h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <p><i class="fa fa-camera-retro fa-lg"></i> fa-lg</p>
      <p><i class="fa fa-camera-retro fa-2x"></i> fa-2x</p>
      <p><i class="fa fa-camera-retro fa-3x"></i> fa-3x</p>
      <p><i class="fa fa-camera-retro fa-4x"></i> fa-4x</p>
      <p><i class="fa fa-camera-retro fa-5x"></i> fa-5x</p>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>
        To increase icon sizes relative to their container, use the <code>fa-lg</code> (33% increase), <code>fa-2x</code>,
        <code>fa-3x</code>, <code>fa-4x</code>, or <code>fa-5x</code> classes.
      </p>
{% highlight html %}
<i class="fa fa-camera-retro fa-lg"></i> fa-lg
<i class="fa fa-camera-retro fa-2x"></i> fa-2x
<i class="fa fa-camera-retro fa-3x"></i> fa-3x
<i class="fa fa-camera-retro fa-4x"></i> fa-4x
<i class="fa fa-camera-retro fa-5x"></i> fa-5x
{% endhighlight %}
      <div class="alert alert-success">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-exclamation-triangle fa-li fa-lg"></i>
            If your icons are getting chopped off on top and bottom, make sure you have
            sufficient line-height.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
