<section id="list-icons">
  <h2 class="page-header">List Icons</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check"></i>List bullets (like these)</li>
        <li><i class="fa-li fa fa-check"></i>Buttons</li>
        <li><i class="fa-li fa fa-check"></i>Button groups</li>
        <li><i class="fa-li fa fa-check"></i>Navigation</li>
        <li><i class="fa-li fa fa-check"></i>Prepended form inputs</li>
        <li><i class="fa-li fa fa-check"></i>&hellip;and many more with custom CSS</li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>Use <code>fa-ul</code> and <code>fa-li</code> to easily replace individual list bullets.</p>
{% highlight html %}
<ul class="fa-ul">
  <li><i class="fa-li fa fa-check"></i>Bulleted lists (like this one)</li>
  <li><i class="fa-li fa fa-check"></i>Buttons</li>
  <li><i class="fa-li fa fa-check"></i>Button groups</li>
  <li><i class="fa-li fa fa-check"></i>Navigation</li>
  <li><i class="fa-li fa fa-check"></i>Prepended form inputs</li>
  <li><i class="fa-li fa fa-check"></i>&hellip;and many more with custom CSS</li>
</ul>
{% endhighlight %}
    </div>
  </div>
</section>
