<section id="list">
  <h2 class="page-header">List Icons</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square"></i>List icons (like these)</li>
        <li><i class="fa-li fa fa-check-square"></i>can be used</li>
        <li><i class="fa-li fa fa-spinner fa-spin"></i>to easily replace</li>
        <li><i class="fa-li fa fa-square"></i>default bullets in lists</li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>Use <code>fa-ul</code> and <code>fa-li</code> to easily replace default bullets in unordered lists.</p>
{% highlight html %}
<ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square"></i>List icons (like these)</li>
  <li><i class="fa-li fa fa-check-square"></i>can be used</li>
  <li><i class="fa-li fa fa-spinner fa-spin"></i>to replace</li>
  <li><i class="fa-li fa fa-square"></i>default bullets in lists</li>
</ul>
{% endhighlight %}
    </div>
  </div>
</section>
