<{% if page.navbar_active == "examples" %}div{% else %}section{% endif %} id="new-styles">
  <h2 class="page-header">New Styles in {{ site.fontawesome.minor_version }}</h2>
  <div class="row">
    <div class="span4">
      <h4><a href="#rotated-flipped">Rotated and Flipped Icons</a></h4>
      <div class="well well-transparent">
        <i class="fa fa-shield"></i>&nbsp; normal<br>
        <i class="fa fa-shield fa-rotate-90"></i>&nbsp; fa-rotate-90<br>
        <i class="fa fa-shield fa-rotate-180"></i>&nbsp; fa-rotate-180<br>
        <i class="fa fa-shield fa-rotate-270"></i>&nbsp; fa-rotate-270<br>
        <i class="fa fa-shield fa-flip-horizontal"></i>&nbsp; fa-flip-horizontal<br>
        <i class="fa fa-shield fa-flip-vertical"></i>&nbsp; fa-flip-vertical
      </div>
    </div>
    <div class="span4">
      <h4><a href="#stacked">Stacked Icons</a></h4>
      <div class="well well-transparent stacked">
        <span class="fa-stack">
          <i class="fa fa-unchecked fa-stack-base"></i>
          <i class="fa fa-twitter"></i>
        </span>
        fa-twitter on fa-check-empty<br>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-base"></i>
          <i class="fa fa-flag fa-light"></i>
        </span>
        fa-flag on fa-circle<br>
        <span class="fa-stack">
          <i class="fa fa-sign-blank fa-stack-base"></i>
          <i class="fa fa-terminal fa-light"></i>
        </span>
        fa-terminal on fa-sign-blank
      </div>
    </div>
    <div class="span4">
      <h4><a href="#bulleted-lists">Better Bulleted Lists</a></h4>
      <div class="well well-transparent">
        <ul class="fa-ul">
          <li><i class="fa fa-li fa-chevron-sign-right"></i>New bulleted lists</li>
          <li><i class="fa fa-li fa-bullseye"></i>Fix some old bugs</li>
          <li><i class="fa fa-li fa-play-sign"></i>And deal with arbitrary</li>
          <li><i class="fa fa-li fa-ok-sign"></i>Font sizes better</li>
        </ul>
      </div>
    </div>
  </div>
</{% if page.navbar_active == "examples" %}div{% else %}section{% endif %}>
