<section id="rotated-flipped">
  <h2 class="page-header">Rotated &amp; Flipped</h2>
  <div class="row">
    <div class="span3">
      A set of classes that can be used to arbitrarily rotate and flip icons.
    </div>
    <div class="span9">
      <div class="well well-large well-transparent lead">
        <i class="fa fa-shield"></i>&nbsp; normal<br>
        <i class="fa fa-shield fa-rotate-90"></i>&nbsp; fa-rotate-90<br>
        <i class="fa fa-shield fa-rotate-180"></i>&nbsp; fa-rotate-180<br>
        <i class="fa fa-shield fa-rotate-270"></i>&nbsp; fa-rotate-270<br>
        <i class="fa fa-shield fa-flip-horizontal"></i>&nbsp; fa-flip-horizontal<br>
        <i class="fa fa-shield fa-flip-vertical"></i>&nbsp; fa-flip-vertical
      </div>
{% highlight html %}
<i class="fa fa-shield"></i>&nbsp; normal<br>
<i class="fa fa-shield fa-rotate-90"></i>&nbsp; fa-rotate-90<br>
<i class="fa fa-shield fa-rotate-180"></i>&nbsp; fa-rotate-180<br>
<i class="fa fa-shield fa-rotate-270"></i>&nbsp; fa-rotate-270<br>
<i class="fa fa-shield fa-flip-horizontal"></i>&nbsp; fa-flip-horizontal<br>
<i class="fa fa-shield fa-flip-vertical"></i>&nbsp; icon-flip-vertical
{% endhighlight %}
      <p class="alert alert-info">
        <i class="fa fa-info-sign"></i> Rotating and flipping icons aren't yet supported in IE7.
      </p>
    </div>
  </div>
</section>
