<section id="rotated-flipped">
  <h2 class="page-header">Rotated &amp; Flipped</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <p style="font-size: 18px;">
        <i class="fa fa-shield"></i>&nbsp; normal<br>
        <i class="fa fa-shield fa-rotate-90"></i>&nbsp; fa-rotate-90<br>
        <i class="fa fa-shield fa-rotate-180"></i>&nbsp; fa-rotate-180<br>
        <i class="fa fa-shield fa-rotate-270"></i>&nbsp; fa-rotate-270<br>
        <i class="fa fa-shield fa-flip-horizontal"></i>&nbsp; fa-flip-horizontal<br>
        <i class="fa fa-shield fa-flip-vertical"></i>&nbsp; fa-flip-vertical
      </p>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>
        To arbitrarily rotate and flip icons, use the <code>fa-rotate-*</code> and <code>fa-flip-*</code> classes.
      </p>
{% highlight html %}
<i class="fa fa-shield"></i> normal<br>
<i class="fa fa-shield fa-rotate-90"></i> fa-rotate-90<br>
<i class="fa fa-shield fa-rotate-180"></i> fa-rotate-180<br>
<i class="fa fa-shield fa-rotate-270"></i> fa-rotate-270<br>
<i class="fa fa-shield fa-flip-horizontal"></i> fa-flip-horizontal<br>
<i class="fa fa-shield fa-flip-vertical"></i> icon-flip-vertical
{% endhighlight %}
    </div>
  </div>
</section>
