<section id="spinning">
  <h2 class="page-header">
    Spinning Icons
    <div class="pull-right text-default margin-top padding-top-sm hidden-xs">
      <a href="https://github.com/FortAwesome/Font-Awesome/blob/{{ site.fontawesome.doc_blob }}/less/spinning.less" class="text-muted padding-right">View LESS</a>
      <a href="https://github.com/FortAwesome/Font-Awesome/blob/{{ site.fontawesome.doc_blob }}/scss/_spinning.scss" class="text-muted">View SASS</a>
    </div>
  </h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <p>
        <button class="btn btn-default btn-lg"><i class="fa fa-spinner fa-spin"></i></button>
        <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i></button>
        <button class="btn btn-default btn-lg"><i class="fa fa-refresh fa-spin"></i></button>
        <button class="btn btn-default btn-lg"><i class="fa fa-cog fa-spin"></i></button>
      </p>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>
        Use the <code>fa-spin</code> class to get any icon to rotate. Works well with <code>fa-spinner</code>,
        <code>fa-refresh</code>, and <code>fa-cog</code>.
      </p>
{% highlight html %}
<i class="fa fa-spinner fa-spin"></i>
<i class="fa fa-circle-o-notch fa-spin"></i>
<i class="fa fa-refresh fa-spin"></i>
<i class="fa fa-cog fa-spin"></i>
{% endhighlight %}
      <p class="alert alert-success">
        <i class="fa fa-info-circle"></i> CSS3 animations aren't supported in IE8 - IE9.
      </p>
    </div>
  </div>
</section>
