<section id="stacked">
  <h2 class="page-header">Stacked Icons</h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      A method for easily stacking multiple icons. Use the <code>fa-stack</code> class on the parent, the <code>fa-stack-top</code>
      for the regularly sized icon, and <code>fa-stack-bottom</code> for the larger bottom icon. <code>fa-inverse</code>
      can be used as an alternative icon color.
    </div>
    <div class="col-md-9 col-sm-8">
      <div class="well well-large well-transparent lead">
        <span class="fa-stack">
          <i class="fa fa-square-o fa-stack-bottom"></i>
          <i class="fa fa-twitter fa-stack-top"></i>
        </span>
        fa-twitter on fa-unchecked<br>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-bottom"></i>
          <i class="fa fa-flag fa-stack-top fa-inverse"></i>
        </span>
        fa-flag on fa-circle<br>
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-bottom"></i>
          <i class="fa fa-terminal fa-stack-top fa-inverse"></i>
        </span>
        fa-terminal on fa-square<br>
        <span class="fa-stack">
          <i class="fa fa-camera fa-stack-top"></i>
          <i class="fa fa-ban fa-stack-bottom text-danger"></i>
        </span>
        fa-camera on fa-ban
      </div>
{% highlight html %}
<span class="fa-stack">
  <i class="fa fa-square-o fa-stack-bottom"></i>
  <i class="fa fa-twitter fa-stack-top"></i>
</span>
fa-twitter on fa-unchecked<br>
<span class="fa-stack">
  <i class="fa fa-circle fa-stack-bottom"></i>
  <i class="fa fa-flag fa-stack-top fa-inverse"></i>
</span>
fa-flag on fa-circle<br>
<span class="fa-stack">
  <i class="fa fa-sign-blank fa-stack-bottom"></i>
  <i class="fa fa-terminal fa-stack-top fa-inverse"></i>
</span>
fa-terminal on fa-sign-blank<br>
<span class="fa-stack">
  <i class="fa fa-camera fa-stack-top"></i>
  <i class="fa fa-ban-circle fa-stack-bottom text-danger"></i>
</span>
fa-camera on fa-ban-circle
{% endhighlight %}
    </div>
  </div>
</section>
